@page
@model WebApplication1.Pages.Usuarios.DetalhesModel
@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h2>@ViewData["Title"]</h2>

<div>
    <label>Id: </label>
    <span>@Model.Usuario.Id</span>
</div>

<div>
    <label>Nome: </label>
    <span>@Model.Usuario.Nome</span>
</div>

<div>
    <label>Senha: </label>
    <span>@Model.Usuario.Senha</span>
</div>

<div>
    <label>Enail: </label>
    <span>@Model.Usuario.Email</span>
</div>

<a class="btn btn-secondary" asp-page="/Usuarios/Index">Voltar</a>